#canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}

#overlay-canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}

button {
    opacity: 0.7;
    margin: 2px;
}

.slider {}

.control {
    background: white;
    opacity: 80%;
    padding: 2px;
    display: inline-block;
    border-radius: 5px;
    margin: 15px;
}

@keyframes blink {
    50% {
        outline-color: purple;
        outline-style: dashed;
    }
}
@-webkit-keyframes blink {
    50% {
        outline-color: purple;
        outline-style: dashed;
    }
}

.highlight {
    outline-color: white;
    outline-style: dashed;
    animation-name: blink; 
    animation-duration: .5s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    animation-direction: alternate;


    -webkit-animation-name: blink; 
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: step-end;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;



}
