#canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}

#overlay-canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}

button {
    opacity: 0.7;
    margin: 2px;
}

.slider {
}

.control {
    background: white;
    opacity: 80%;
    padding: 2px;
    display: inline-block;
    border-radius: 5px;
    margin: 15px;
}
